@inject SignInManager<ApplicationUser> _signInManager

@if (_signInManager.IsSignedIn(User))
{

    <li class="nav-item">
        <form method="post" asp-controller="Account" asp-action="Logout">
            <button type="submit" class="nav-link btn btn-light">
                Logout @User.Identity.Name
            </button>
        </form>

    </li>

}

else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogIn">LogIn</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
    </li>

}

